@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&family=Lobster&display=swap");

.footer {
  background-color: beige;
  border: 1px solid black;
  font-family: "Lobster", cursive;
}

.footer h1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 0;
}
