.prod-cart img {
  max-width: 200px;
  max-height: 200px;
  flex: 1;
  border-right: 2px solid black;
}

.prod-cart {
  border: 2px solid black;
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart-info {
  flex: 3;
  margin: 0px;
}

.cart-info p {
  margin: 0;
  text-align: left;
  margin-left: 10px;
  font-weight: 700;
}

.cart-info button {
  display: flex;
  margin-left: 10px;
}

.cart-info button {
  margin-top: 5px;
  margin-bottom: 15px;
}

.cart-info button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.side-panel h2 {
  text-decoration: underline;
}
