.product {
  border: 2px solid black;
  margin-bottom: 15px;
  background-color: azure;
  font-family: "Akshar", sans-serif;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}

.product img {
  max-width: 200px;
  max-height: 200px;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.product label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(10, 143, 10);
}

.product button {
  margin-top: 5px;
  margin-bottom: 10px;
}

.product button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.product p {
  margin: 0;
}
